@media only screen and (min-width: 1084px)
  .img-container-1-2
    .card-img-overlay
      .img-container-1-2-links
        display: flex !important
        
        .links-1-2
          margin-top: 10px !important
          margin-left: 10px !important