@media only screen and (min-width: 860px)
  .navbar-1, .navbar-2
    display: $display-none !important

  .navbar-3 
    display: $display-flex !important
    justify-content: $between

    .navbar-3-logo
      width: 30px
      height: 30px

    .navbar-3-2
       .search-icon .search-1, .trolley-icon .trolley-1, .person-icon .person-1
         display: $display-none !important
      
  